<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuanLyThuoc</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Line Awesome -->
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-brand">
        <h1><span class="lab la-accusoft"></span> Medicine</h1>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="/canhbaohansudung"
              ><span class="icon"
                ><i class="fa-solid fa-business-time"></i
              ></span>
              <span>Cảnh báo hạn sử dụng</span>
            </a>
          </li>
          <li>
            <a href="/users"
              ><span class="icon"><i class="fa-solid fa-user"></i></span>
              <span>Quản lý người dùng</span>
            </a>
          </li>
          <li>
            <a href="/lothuoc"
              ><span class="icon"
                ><i class="fa-solid fa-parachute-box"></i
              ></span>
              <span>Quản lý lô thuốc</span>
            </a>
          </li>
          <li>
            <a href="/thuoc"
              ><span class="icon"><i class="fa-solid fa-tablets"></i></span>
              <span>Quản lý thuốc</span>
            </a>
          </li>
          <li>
            <a href="/hoadon"
              ><span class="icon"
                ><i class="fa-regular fa-money-bill-1"></i
              ></span>
              <span>Quản lý hóa đơn</span>
            </a>
          </li>
          <li>
            <a href="/khachhang"
              ><span class="icon"><i class="fa-solid fa-users"></i></span>
              <span>Quản lý khách hàng</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content Area -->
    <div class="content">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Quản lý Thuốc</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <button class="btn btn-exit" type="button">Đăng xuất</button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã thuốc</th>
                <th scope="col">Mã lô thuốc</th>
                <th scope="col">Tên Thuốc</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Ngày sản xuất</th>
                <th scope="col">Hạn sử dụng</th>
                <th scope="col">Giá tiền nhập</th>
                <th scope="col">Giá tiền bán</th>
              </tr>
            </thead>
            <tbody>
              <% thuocs.forEach(thuoc => { %>
              <tr>
                <td><%= thuoc.ThuocID %></td>
                <td><%= thuoc.LoThuocID %></td>
                <td><%= thuoc.TenThuoc %></td>
                <td><%= thuoc.SoLuong %></td>
                <td><%= thuoc.NgaySanXuat %></td>
                <td><%= thuoc.HanSuDung %></td>
                <td><%= thuoc.GiaTienNhap %></td>
                <td><%= thuoc.GiaTienBan %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
